<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ol>
                <li>Create two New Components manually or using CLI </li>
                <li>Output The beneath each other</li>
                <li>Outpu a warning or success message</li>
                <li>Style The Components maybe red / green</li>
            </ol>
            <p>
                Use external or internal template and styles
            </p>
            <p>
                feel free create new more components
            </p>
            <hr>
            <app-warning-alerts></app-warning-alerts>
            <app-success-alerts></app-success-alerts>
        </div>
    </div>
</div>