<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>Create 2 Components (Manually or With CLI ): warningAlert and Success Alert</li>
        <li>Output them beneath each other in the AppComponent </li>
        <li>Output a warning or success message in the components</li>
        <li>Style the components appropriately (Maybe some red / green text ?)</li>
      </ol>
      <p>Use External or Internal templates and styles</p>
      <p>Feel Free to create more components , nest them into each other or play around with different types of selectors</p>
      <hr>
      <app-warning-alert></app-warning-alert>
      <app-success-alert></app-success-alert>
    </div>
  </div>
</div>